body {
    background: linear-gradient(180deg, #E7F1FF 0%, #3D8BFD 100%);
    margin: 0;
    min-height: 100vh;
}

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}